<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<!--    <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">-->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #03BE5E;">

      <div class="navbar-nav">
        <a class="navbar-brand" href="{% url 'index' %}">DJANGO</a>
        <a class="navbar-brand nav-item nav-link" href="{% url 'admin:index' %}">Admin</a>
        <a class="navbar-brand nav-item nav-link" href="{% url 'basic_app:other' %}">Other</a>
        <a class="navbar-brand nav-item nav-link" href="{% url 'basic_app:relative' %}">Relative</a>
      </div>
    </nav>

    <div class="container">
        {% block body_block %}
        <!--            Anything outside of this will be inherited if you extend!-->

        {% endblock %}
    </div>

</body>
</html>